<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Miriam+Libre:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/prism.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>
      {{ block "title" . }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>
  </head>
  <body>
    <a href="#main">skip to content</a>
    {{ partial "svg.html" . }}
    <div class="wrapper">
      <header class="intro-and-nav" role="banner">
        <div>
          <div class="intro">
            <a class="logo" href="/" aria-label="{{ .Site.Title }} pattern library home page">
              <img src="{{ .Site.BaseURL }}images/logo.png" alt="">
            </a>
            <p class="library-desc">{{ .Site.Params.Description | safeHTML }}</p>
          </div>
          <nav id="patterns-nav" class="patterns" role="navigation">
            <button id="menu-button" aria-expanded="false">Menu</button>
            {{ $current := . }}
            {{ range $.Site.Home.Sections }}
              <ul id="patterns-list">
                {{ range .Pages.ByWeight }}
                  <li class="pattern">
                    <a href="{{ .RelPermalink }}" {{ if eq $current.Title .Title  }}aria-current="page"{{ end }}>
                      <svg class="bookmark-icon" aria-hidden="true" height="50" width="40" viewBox="0 0 40 50"><use xlink:href="#bookmark"></use></svg>
                      <span class="text">{{ .Title }}</span>
                    </a>
                  </li>
                {{ end }}
                {{ range .Sections.ByWeight }}
                  <li>
                    <h3>{{ .Title }}</h3>
                    <ul>
                      {{ range .Pages.ByWeight }}
                        <li class="pattern">
                          <a href="{{ .RelPermalink }}" {{ if eq $current.Title .Title  }}aria-current="page"{{ end }}>
                            <svg class="bookmark-icon" aria-hidden="true" height="50" width="40" viewBox="0 0 40 50"><use xlink:href="#bookmark"></use></svg>
                            <span class="text">{{ .Title }}</span>
                          </a>
                        </li>
                      {{ end }}
                    </ul>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </nav>
        </div>
      </header>
      <div class="main-and-footer">
        <div>
          {{ block "main" . }}
          {{ end }}
          <footer role="contentinfo">
            Powered by <strong>Infusion</strong>, a <strong>The Paciello Group</strong> project<br>
            For general enquiries, contact us on info@paciellogroup.com
          </footer>
        </div>
      </div>
    </div>
    {{ if eq .Type "patterns" }}
      <script src="/js/prism.js"></script>
    {{ end }}
    <script src="/js/dom-scripts.js"></script>
  </body>
</html>
